{%extends 'base.html'%}
{%block body%}
{%include 'components\navbar.html' %}
<div class="container">
    <span><h3 style="padding-left: 3rem;">Home ...</h3></span></div><br><div class="container" style="border: 5px solid black; border-style: outset;">
    <form action = "/post/" method= "POST" enctype="multipart/form-data"><div class="container">
        <h5>Create Post!!</h5><br>
        {%csrf_token%}
        
        <label for="titlefield">Title </label>
        {{post_form.title}}
<br><br>
        <label for="textarea1">Content</label>
        {{post_form.content}}
        <br><br>
        <label for="imageinput">Enter attatchment</label>
        <br><br>
        {{post_form.image}}
    <br><br>
        <button type="submit" class= "btn waves-effect">Submit</button><br><br>
</div>
    </form>
</div><br><br><div class="container">
    <div class="container">
    {%for post in posts%}
    <div class='row'>
        <div class="col-s12">
            {%include 'components\post.html'%}
        </div>
    </div>
    {%endfor%}
    </div>
</div> 
{%endblock%}