<footer class="page-footer" style="float:bottom; background-color: #242729; bottom:0;left:0;width:100%;">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">About ...</h5>
                <p class="grey-text text-lighten-4">This application is a minor project undertaking by Kunal</p>
            </div>
            <div class="col l3 offset-12 s12">
                <h5 class="white-text">Contact Details</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Email : kunal90341@gmail.com</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Mobile : 123456789</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Linkedin : kunal-arora-8a7656172</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright" style="background-color: #000000;">
        <div class="container">
            CSS from materialize
        </div>
    </div>
</footer>